
<div class="row mb-5">

    <div class="basicrow f-lbig f-black roboto-m">Informaci&oacute;n de Compra</div>

    <form class="mt-3 w-100 row">

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Tipo de Cuenta</label>
            <select
                class="form-control"
                [(ngModel)]="model.accountType"
                name="accountType"
                formControlName="accountType">
                <option [value]="''" disabled selected hidden>Seleccionar</option>
                <option [value]="accountType" *ngFor="let accountType of accountTypes">{{accountType}}</option>
            </select>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Tecnolog&iacute;a</label>
            <select
                class="form-control"
                [(ngModel)]="model.tecnology"
                name="tecnology"
                formControlName="tecnology">
                <option [value]="''" disabled selected hidden>Seleccionar</option>
                <option [value]="technology" *ngFor="let technology of tecnologies">{{technology}}</option>
            </select>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; IMEI</label>
            <ion-input
                [ngClass]="{ 'is-invalid' : form.controls['imei'].invalid && form.controls['imei'].touched }"
                class="form-control"
                type="text"
                maxlength="15"
                formControlName="imei"
                [(ngModel)]="model.imei"
                (ionChange)="checkNumbersOnlyOnChange($event)">
            </ion-input>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; SIM CARD</label>
            <ion-input
                [ngClass]="{ 'is-invalid' : form.controls['simCard'].invalid && form.controls['simCard'].touched }"
                class="form-control"
                type="text"
                maxlength="20"
                formControlName="simCard"
                [(ngModel)]="model.simCard"
                (ionChange)="checkNumbersOnlyOnChange($event)">
            </ion-input>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-12 mt-3">
            <div class="form-check form-check-inline bg-light p-2">
                <input class="form-check-input mr-4" type="checkbox" id="checkbox" (change)="onCheckChange($event)">
                <label class="form-check-label" for="checkbox">Debe seleccionar esta opci&oacute;n una vez validadado el IMEI y el SIM CARD en el inventario.</label>
            </div>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Tipo de Plan</label>
            <select
                class="form-control"
                (ngModelChange)="setPlan($event)"
                name="planType"
                formControlName="planType">
                <option [value]="undefined" disabled selected hidden>Seleccionar</option>
                <option [value]="planType.plan" *ngFor="let planType of plans">{{planType.plan}}</option>
            </select>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Localidad</label>
            <select
                class="form-control"
                [(ngModel)]="selectedLocation"
                name="location"
                formControlName="selectedLocation">
                <option [value]="undefined" disabled selected hidden>Seleccionar</option>
                <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
            </select>
        </div>

        <div class="col-12">
            <div class="basicrow afullbrd m-top-i " *ngIf="planSelected">
                <!-- <div class="plantitle vcenter"><div class="tabcell">Plan Nacional por Minuto</div></div> -->

                <!-- <div class="planprice vcenter"><div class="tabcell">&#36;12.00</div></div> -->

                <div
                    class="planinfo"
                    [ngClass]="{ graybg: i % 2 !== 0 }"
                    *ngFor="let planDetail of planSelected.planDetails; let i = index"
                >
                    {{ planDetail }}
                </div>

                <!-- <div class="planinfo graybg"> -->
                <!-- SMS y MMS en PR y USA  750 para uso en PR y en USA y a destinos internacionales selectos -->
                <!-- </div> -->
            </div>
        </div>

        <div class="basicrow col-12">
            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-right m-top-i">
                <button [disabled]="!(form.valid && checkImeiValidated && model.imei.length === 15 && model.simCard.length === 20)"
                        type="button"
                        class="btn btn-danger btn-claro"
                        (click)="goToAceptationTerms()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!loading">Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

    </form>

</div>

<div *ngIf="toBackEnd" class="basicrow text-center">
    <div class="shortcont">
        <div class="basicrow">
            <div class="redbgbadmsg"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{ msjError }}
                <br>
                <small><strong>{{msjErrorDisplay}}</strong></small>
            </div>

            <div class="userinfo full">
                <!-- Cuando no termino completamente -->
                <div class="basicrow f-black roboto-b f-bmed">Datos</div>

                <div class="redstat m-top">
                    <div class="autorow roboto-r pull-left">Nombre</div>

                    <div class="autorow roboto-b pull-right">
                        {{ dataObjectAddress[0].CUSTOMER_NAME + ' ' + dataObjectAddress[0].CUSTOMER_LASTNAME }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">SSN</div>

                    <div class="autorow roboto-b pull-right">
                        &#42;&#42;&#42;&#42;&#42;&#42;{{ dataObjectAddress[0].SSN }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">N&uacute;mero de Caso</div>

                    <div class="autorow roboto-b pull-right">{{ caseIDReject }}</div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Ban</div>

                    <div class="autorow roboto-b pull-right">{{ banNumber }}</div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Tipo de Cuenta</div>
                    <div class="autorow roboto-b pull-right">Prepago Móvil</div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">N&uacute;meros de tel&eacute;fono</div>

                    <!--                  <div class="autorow roboto-b pull-right">{{ suscriberNumber }}</div>-->

                    <div class="autorow roboto-b pull-right">
                        {{ dataObjectAddress[0].contactNumber1 }}
                    </div>
                    <br/>
                    <div class="autorow roboto-b pull-right">
                        {{ dataObjectAddress[0].contactNumber2 }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="basicrow roboto-r">Direcci&oacute;n F&iacute;sica</div>

                    <div class="basicrow roboto-b m-top-ii">
                        {{ dataObjectAddress[0].CUSTOMER_ADDRESS }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="basicrow roboto-r">Direcci&oacute;n Postal</div>

                    <div class="basicrow roboto-b m-top-ii">
                        {{ getSuggestAddress() }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Fecha</div>

                    <div class="autorow roboto-b pull-right">
                        {{ currentDate.yy + '-' + currentDate.mm + '-' + currentDate.dd }}
                    </div>
                </div>
            </div>

            <div class="basicrow">
                <div class="basicrow m-top-i">
                    <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                    <a
                        (click)="goTo('/home')"
                        class="btns red def-i vcenter"
                        style="padding: 16px 30px 8px;display: inline !important;float: none !important;"
                    >
                    <span class="tabcell">
                      Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
