<ng-template #modalCaseDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detalles del Caso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close(); caseDetail = undefined">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="basicrow on px-5" *ngIf="loadingDescription && !negateDescription">
            <div class="dgtl-list on text-center" style="width: 100%; border-radius: 3px">
                <span class="spinner-border spinner-border-sm"></span>
            </div>
        </div>

        <div class="basicrow on px-5" *ngIf="negateDescription">
            <div class="dgtl-list on text-center" style="width: 100%; border-radius: 3px">
                <i class="fa fa-times-circle dgtlcheckred on" aria-hidden="true"></i>
                Su caso fue Denegado por: <br>
                {{ negateDescription }}
            </div>
        </div>

        <div class="basicrow m-top text-center px-3">
            <div class="userinfo full">
                <div class="redstat m-top">
                    <div class="autorow roboto-r pull-left">Nombre / Apellido</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.CUSTOMER_MN + ' ' + caseDetail.CUSTOMER_NAME + ' ' + caseDetail.CUSTOMER_LAST }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Fecha de Nacimiento</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.CUSTOMER_DOB === '' ? '' : moment(caseDetail.CUSTOMER_DOB).format('MM-DD-YYYY') }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">SSN</div>

                    <div class="autorow roboto-b pull-right">
                        &#42;&#42;&#42;&#42;&#42;&#42;{{ caseDetail.CUSTOMER_SSN }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Nro. de Caso</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.USF_CASEID }}
                    </div>
                </div>


                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">BAN</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.ACCOUNT_NUMBER }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Suscriptor</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.SUSBCRIBER }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Tipo de Cuenta</div>

                    <div class="autorow roboto-b pull-right">
                        PREPAGO M&Oacute;VIL
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Número de Teléfono</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.PHONE_1 }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="basicrow roboto-r">Direcci&oacute;n F&iacute;sica</div>

                    <div class="basicrow roboto-b m-top-ii">
                        {{
                        caseDetail.ADDRESS_1 +
                        ' ' +
                        caseDetail.ADDRESS_2 +
                        ' ' +
                        caseDetail.CITY +
                        ' ' +
                        caseDetail.STATE +
                        ' ' +
                        caseDetail.ZIPCODE
                        }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="basicrow roboto-r">Direcci&oacute;n Postal</div>

                    <div class="basicrow roboto-b m-top-ii">
                        {{
                        caseDetail2.ADDRESS_1 +
                        ' ' +
                        caseDetail2.ADDRESS_2 +
                        ' ' +
                        caseDetail2.CITY +
                        ' ' +
                        caseDetail2.STATE +
                        ' ' +
                        caseDetail2.ZIPCODE
                        }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Fecha de Creaci&oacute;n</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.DTS_CREATED }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Nro. de Aplicación</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.applicationId }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Estatus</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.validation_status }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Suscriptor Activo</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.activeSubscriber === 'N' ? 'No' : 'Si' }}
                    </div>
                </div>

                <div class="redstat m-top-ii">
                    <div class="autorow roboto-r pull-left">Fecha de Expiración (NV)</div>

                    <div class="autorow roboto-b pull-right">
                        {{ caseDetail.eligibilityExpirationDate === '' ? '' : moment(caseDetail.eligibilityExpirationDate).format('MM-DD-YYYY') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center" *ngIf="casiIdSaved">
        <button type="button"
                class="btn btn-danger btn-claro"
                (click)="modal.close(); continueToCase();">
            <span>
                Continuar
            </span>
        </button>
    </div>
</ng-template>

<ion-content>
    <div class="basicrow">
        <app-header></app-header>

        <div class="basicrow m-top m-bott">
            <div class="container">
                <div class="basicrow">
                    <div class="fulltitle f-btitle m-bott-i">
                        <i class="fa fa-laptop" aria-hidden="true"></i> Consultar Caso USF
                    </div>

                    <div class="basicrow text-center">
                        <div class="basicrow f-lbig f-black roboto-m text-left">
                            Bienvenido/a,
                            <span class="f-red"
                                  (click)="getCasesUSF()">{{ authenticationService.getCredentials().UserName }}</span>
                        </div>
                    </div>

                    <div class="def-filtrs flex-wrap justify-content-between">

                        <input
                            class="form-control mb-2"
                            maxlength="50"
                            placeholder="Nro de USF"
                            type="text"
                            style="width: 125px;"
                            [(ngModel)]="numberUSF"
                            (change)="FilterByNroUsf()"
                            (keyup)="validaEnter($event)"/>

                        <ngb-range-datepicker (apply)="onApply($event)"></ngb-range-datepicker>

                        <select
                            name="status_selected"
                            class="form-control sufix ng-pristine ng-invalid ng-touched"
                            style="width:200px;"
                            [(ngModel)]="statusSelected"
                            (ngModelChange)="getCasesUSF()">
                            <option [value]="''" selected>SELECCIONAR</option>
                            <option *ngFor="let opt of status; let i = index">{{ opt }}</option>
                        </select>

                        <input
                            class="form-control"
                            maxlength="50"
                            placeholder="Nombre de Cliente"
                            type="text"
                            style="width: 15em;margin-left: 10px;margin-right: 10px;"
                            [(ngModel)]="nameToSearch"
                        />

                        <div class="d-flex justify-content-end button-usf-case--container">
                            <button class="btn btn-danger btn-claro m-left-i button-usf-case" (click)="getCasesUSF()">
                                <span> Buscar&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i> </span>
                            </button>

                            <button class="btn btn-primary btn-accent ml-2 button-usf-case" (click)="exportTo()">
                                <span>Exportar</span>
                            </button>
                        </div>

                    </div>

                    <div class="basicrow m-top-i">
                        <div class="basicrow">
                            <div class="autorow pull-left f-tabletitle f-black roboto-r">Administraci&oacute;n de mis
                                solicitudes​
                            </div>

                            <div class="autorow pull-right">
                                <a (click)="firstPage()" class="tablepages vcenter tablepages--background"
                                   [ngClass]="{ off: totalRowCount <= 10 }">
                                    <span class="tabcell"> << </span>
                                </a>

                                <a (click)="previousPage()" class="tablepages vcenter tablepages--background"
                                   [ngClass]="{ off: totalRowCount <= 10 }">
                                    <span class="tabcell"> < </span>
                                </a>

                                <a
                                    (click)="getPage(1)"
                                    class="tablepages vcenter tablepages--background"
                                    [ngClass]="selectedFirst ? 'filterTrue' : 'filterfalse'"
                                >
                                    <span class="tabcell"> {{ currentPage }} </span>
                                </a>

                                <a
                                    (click)="getPage(2)"
                                    class="tablepages vcenter tablepages--background"
                                    [ngClass]="selectedNext ? 'filterTrue' : 'filterfalse'"
                                    *ngIf="totalRowCount > 10"
                                >
                                    <span class="tabcell"> {{ currentPage + 1 }} </span>
                                </a>

                                <a
                                    (click)="getPage(3)"
                                    class="tablepages vcenter tablepages--background"
                                    [ngClass]="selectedLast ? 'filterTrue' : 'filterfalse'"
                                    *ngIf="totalRowCount > 10"
                                >
                                    <span class="tabcell"> {{ currentPage + 2 }} </span>
                                </a>

                                <a (click)="nextPage()" class="tablepages vcenter tablepages--background" [ngClass]="{ off: totalRowCount <= 10 }">
                                    <span class="tabcell"> > </span>
                                </a>

                                <a (click)="lastPage()" class="tablepages vcenter tablepages--background" [ngClass]="{ off: totalRowCount <= 10 }">
                                    <span class="tabcell"> >> </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-sm table-striped float-left m-top">
                        <!--                        <thead class="tablebartitle">-->
                        <thead class="thead-custom">
                        <tr>
                            <th scope="col" class="text-center thead-custom--th">Nro de USF</th>
                            <th scope="col" class="text-center thead-custom--th">BAN</th>
                            <th scope="col" class="text-center thead-custom--th">Fecha Registro <br>de USF</th>
                            <th scope="col" class="text-center thead-custom--th">Nombre y Apellido Cliente</th>
                            <th scope="col" class="text-center thead-custom--th">Estatus</th>
                            <th scope="col" class="text-center thead-custom--th">Nro. de Aplicaci&oacute;n / <br>Fecha de Exp (NV)</th>
                            <th scope="col" class="text-center thead-custom--th">Acci&oacute;n</th>
                        </tr>
                        </thead>
                        <!---NOTA "mostrar" ES EL  ARRAY AUX QUE CAMBIE POR "data_conten" aunq aqui abajo lo volvi a colocar -->
                        <tbody>
                        <tr
                            *ngFor="let item of toShow"
                            class="{{ item.classCss }}"
                            [ngClass]="{ oculta: validacionOcultarRow(item), muestra: statusSelected == 'ESTATUS' || statusSelected == item.status }"
                        >
                            <td class="text-center tbody-custom--td">
                                {{ item.caseID }}
                            </td>

                            <td class="text-center tbody-custom--td">
                                {{ item.ban }}
                            </td>

                            <td class="text-center tbody-custom--td">
                                {{ item.date }}
                            </td>

                            <td class="text-left tbody-custom--td">
                                {{ item.fullName | Capitalize}}
                            </td>

                            <td class="text-center tbody-custom--td">
                                {{ item.status | Capitalize}}
                            </td>

                            <td class="text-center tbody-custom--td">
                                {{ item.applicationId }}
                                <br> {{item.eligibilityExpirationDate}}
                            </td>

                            <td class="text-center tbody-custom--td" style="width: 100px">
                                <a class="act-tbutton" (click)="showDetails(item.caseID)">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <!----->
                        </tbody>
                    </table>

                    <div class="basicrow m-top-i m-bott">
                        <button (click)="goTo('/home')" class="btn btn-secondary float-left w150px">
                            <span><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Reiniciar</span>
                        </button>

                        <div class="autorow pull-right roboto-b f-gray-ii f-med">{{ displayed }} / {{ totalRowCount }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
