.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}


.thead-custom {
    background-color: #1f97ae;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    &--th{
        vertical-align: middle;
        padding: 5px;
    }
}
.tbody-custom {

    &--td {
        padding: 4.8px 12px;
        vertical-align: middle;
        a.act-tbutton:hover {
            background-color: #13606f;
            transition: ease 0.4s;
        }
    }
}

.button-usf-case{
    width: 110px;
    height: 38px;
    margin-left: 0;
}
.tablepages--background:hover {
    background-color: #1f97ae6b;
}

