.lifemenulink-active {
    color: #dcdcdc;
}

.mc-logo, .logout-link {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    &:hover {
        background-color: #cf3225;
        //filter: invert(94%) sepia(8%) saturate(2%) hue-rotate(185deg) brightness(113%) contrast(73%);
        transition: ease .4s;
    }
}

.menubar {
    width: 100%;
}
