<ng-template #modalPreviewView let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Vista Previa</h4>
    </div>
    <div class="modal-body preview-body">
        <iframe
            [src]="getSecureUrl(previewUrl)"
            frameborder="0"
            allowfullscreen
            style="width: 100%;"
            [ngStyle]="{ height: getHeightModal() }">
        </iframe>
    </div>
    <div class="modal-footer justify-content-between">
        <div>
            <button type="button"
                    class="btn btn-danger btn-claro mr-2"
                    (click)="modal.close(); reUploadDocument();">
                Volver a Cargar
            </button>
            <button *ngIf="requiredDocumentsContent[indexContent].fileIds.length < requiredDocumentsContent[indexContent].maxSize"
                    type="button"
                    class="btn btn-danger btn-claro"
                    (click)="modal.close(); uploadOtherDocument();">
                Agregar
            </button>
        </div>
        <div>
            <a class="tablepages vcenter"
               style="margin-right: 1rem; cursor: pointer;"
               (click)="modal.close(); showPreviewFileMultiple(indexContent, i)"
               *ngFor="let fileId of this.requiredDocumentsContent[indexContent].fileIds; let i = index"
               [ngClass]="{ on: i === indexFile }">
                <span class="tabcell">
                    {{ i + 1 }}
                </span>
            </a>
        </div>
        <div>
            <button type="button"
                    class="btn btn-danger btn-claro mr-2"
                    (click)="modal.close(); deleteSubDocumentMultiple();">
                Eliminar
            </button>
            <button type="button"
                    class="btn btn-danger btn-claro float-right"
                    (click)="continueChargeDocuments();">
                Continuar
            </button>
        </div>
    </div>
</ng-template>

<ng-template #modalContinueChargeDocuments let-modal>
    <div class="modal-header">
        <h4 class="modal-title">¿Esta seguro que el documento cumple con los requisitos establecidos en el programa?</h4>
    </div>
    <div class="modal-body">
        <p>Al presionar "Si" el documento quedará guardado y no podrá volverlo a cargar.</p>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button"
                class="btn btn-danger btn-claro"
                (click)="modal.close(); this.continueChargeDocumentsProcess();">
            SI
        </button>
        <button *ngIf="requiredDocumentsContent[indexContent].fileIds.length < requiredDocumentsContent[indexContent].maxSize"
                type="button"
                class="btn btn-danger btn-claro"
                (click)="modal.close();">
            NO
        </button>
    </div>
</ng-template>

<div class="row mb-5">

    <div class="basicrow f-lbig f-black roboto-m">Digitalizaci&oacute;n de Documentos</div>

    <form class="mt-4 w-100 row">

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Seleccione el Tipo de Documento</label>
            <select
                class="form-control"
                [(ngModel)]="requiredDocumentSelected"
                name="documentTypeSelected"
                formControlName="documentTypeSelected"
                (ngModelChange)="onChangeLifelineCustom($event)">
                <option
                    [value]="documentType.id"
                    *ngFor="let documentType of this.requiredDocumentsContent"
                    [disabled]="documentType.isCharged">
                    {{ documentType.name }}
                </option>
            </select>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Seleccione el Tipo de Documento</label>
            <select
                class="form-control"
                [(ngModel)]="subDocumentTypeSelected"
                name="subDocumentTypeSelected"
                formControlName="subDocumentTypeSelected">
                <option
                    [value]="subDocumentType"
                    *ngFor="let subDocumentType of subDocumentsTypeSelected"
                    [disabled]="subDocumentType === 'Seleccionar' ||
                                subDocumentType === 'Ingreso Suplementario de Seguridad (SSI)'"
                    [selected]="subDocumentType === 'Seleccionar'"
                    [hidden]="subDocumentType === 'Seleccionar'">
                    {{ subDocumentType }}
                </option>
            </select>
        </div>

        <div class="col-6 mt-3">
            <div class="digitalizecont vcenter">
                <div class="tabcell">
                    <img class="dgtl-icon" width="100%" src="../../../../assets/images/lifescan-icon.png"/>

                    <a class="lbluebtn dgtldef vcenter"
                       style="cursor: pointer;"
                       [ngClass]="{ 'background-white': !validateDocumentCharged() }">
                        <label style="    font-weight: normal; margin-bottom: -13px; cursor: pointer;">
                            <span class="tabcell"> Activar scanner </span>
                            <input
                                [disabled]="!validateDocumentCharged()"
                                style="display: none"
                                type="file"
                                (change)="onFileChangeMultiple($event)"
                            />
                            <input
                                #inputFiles
                                style="display: none"
                                type="file"
                                (change)="onFileChangeMultiple($event)"
                            />
                        </label>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 mt-3" *ngIf="!isWeb">
            <div class="digitalizecont vcenter">
                <div class="tabcell">
                    <img class="dgtl-icon" width="100%" src="assets/images/lifecam-icon.png">

                    <a [ngClass]="{ 'background-white': !validateDocumentCharged() }" (click)="takePhoto()"
                       class="lbluebtn dgtldef vcenter" style="cursor: pointer;">
                        <span class="tabcell">
                            Activar camara
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="basicrow col-12">
            <div class="redbgbadmsg error m-top-i" *ngIf="uploadHasError">
                <i class="fa fa-times-circle" aria-hidden="true"></i>

                Su foto/documento
                <span class="roboto-b">{{ documentNameErrorService + ' / ' + subDocumentErrorService }}</span> no fue
                cargada exitosamente.<br/><br/>

                <span class="roboto-b">Favor volver a intentar.</span>
            </div>

            <div class="redbgbadmsg error m-top-i" *ngIf="uploadHasValidationError">
                <i class="fa fa-times-circle" aria-hidden="true"></i>

                Su foto/documento
                <span class="roboto-b">{{ documentName + ' / ' + subDocumentTypeSelected }}</span> no fue cargada
                exitosamente.<br/><br/>
                Debe seleccionar un documento de tipo
                <span class="roboto-b">
                    {{ uploadHasValidationErrorTypes }}
                </span><span *ngIf="subDocumentTypeSelectedMaxSize">, de {{ subDocumentTypeSelectedMaxSize }} pagina(s) maximo</span>
                y como maximo <span class="roboto-b">{{ uploadHasValidationErrorSize }}KB.</span><br/><br/>

                <span class="roboto-b">Favor volver a intentar.</span>
            </div>
        </div>

        <div class="basicrow col-12">
            <div class="basicrow m-top-i"><label class="label-f">&#42; Documentos Requeridos</label></div>

            <div class="basicrow m-top-u" *ngFor="let documentType of this.requiredDocumentsContent; let i = index">
                <div
                    class="basicrow"
                    [ngClass]="{ on: documentType.isCharged && !documentType.isContinue }"
                    *ngIf="documentType.id !== null"
                >
                    <div class="dgtl-list" [ngClass]="{ on: documentType.isContinue }">
                        <i
                            class="fa fa-check-circle dgtlcheck"
                            [ngClass]="{ on: documentType.isContinue }"
                            aria-hidden="true"
                        ></i>
                        {{ documentType.name }}
                    </div>

                    <a (click)="showPreviewFileMultiple(i, 0)" class="dgtl-action vcenter">
                        <span class="tabcell"> <i class="fa fa-file-image-o" aria-hidden="true"></i> </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="basicrow">
            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-right m-top-i">
                <button [disabled]="!validateAllDocumentsChargued()"
                        type="button"
                        class="btn btn-danger btn-claro"
                        (click)="goToAccountCreation()">
                    <span>Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </button>
            </div>

        </div>

    </form>

</div>


