
<div class="row mb-5">

    <div class="basicrow f-lbig f-black roboto-m">Datos Personales del Cliente</div>

    <form class="mt-3 w-100 row">

        <div class="form-group col-4" [formGroup]="form">
            <label>&#42; Sufijo</label>
            <select
                [class.is-invalid]="form.controls['suffix'].invalid && form.controls['suffix'].touched"
                class="form-control"
                [(ngModel)]="suffix"
                name="suffix"
                formControlName="suffix">
                <option [value]="''" disabled selected hidden>Seleccionar</option>
                <option [value]="item" *ngFor="let item of suffixes">{{ item }}</option>
            </select>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-12" [formGroup]="form">
            <label>&#42; Nombre</label>
            <ion-input
                [class.is-invalid]="form.controls['firstName'].invalid && form.controls['firstName'].touched"
                class="form-control"
                type="text"
                maxlength="23"
                formControlName="firstName"
                [(ngModel)]="firstName"
                (ionChange)="checkCharactersOnlyOnChange($event)"
                (ionBlur)="checkCharactersOnlyOnBlur($event)">
            </ion-input>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-12" [formGroup]="form">
            <label>Segundo Nombre (Opcional)</label>
            <ion-input
                class="form-control"
                type="text" maxlength="18"
                formControlName="secondName"
                [(ngModel)]="secondName"
                (ionChange)="checkCharactersOnlyOnChange($event)"
                (ionBlur)="checkCharactersOnlyOnBlur($event)">
            </ion-input>
        </div>

        <div class="form-group col-12" [formGroup]="form">
            <label>&#42; Apellido</label>
            <ion-input
                [class.is-invalid]="form.controls['lastName'].invalid && form.controls['lastName'].touched"
                class="form-control"
                type="text" maxlength="23"
                formControlName="lastName"
                [(ngModel)]="lastName"
                (ionChange)="checkCharactersOnlyOnChange($event)"
                (ionBlur)="checkCharactersOnlyOnBlur($event)">
            </ion-input>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Seguro Social</label>
            <div class="social-oc" [class.valid]="checkSSN"></div>
            <input
                [class.is-invalid]="form.controls['socialSecure'].invalid && form.controls['socialSecure'].touched"
                class="form-control"
                type="tel"
                maxlength="11"
                formControlName="socialSecure"
                [(ngModel)]="socialSecure"
                (keypress)="checkNumbersOnly($event)"
                (keyup)="setFormatInputSSN()"
                (focus)="onFocusSSN()"
                (blur)="onBlurSSN()"/>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Fecha de Nacimiento</label>
            <div class="input-group">
                <input
                    readonly
                    [class.is-invalid]="form.controls['birthday'].invalid && form.controls['birthday'].touched"
                    (click)="d.toggle()"
                    (closed)="closeBirthdayPicker()"
                    [minDate]="birthdayMinDate"
                    [maxDate]="birthdayMaxDate"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="inputControl"
                    formControlName="birthday"
                    ngbDatepicker #d="ngbDatepicker">
                <div class="invalid-tooltip">
                    Campo Requerido
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>

        <div class="form-group col-12 mt-2 mb-4">
            <label>&#42; Género</label>
            <div class="input-group">
                <div class="form-check form-check-inline" (click)="gender = true; $event.stopPropagation()">
                    <input [formControl]="form.controls['gender']" class="form-check-input" type="radio" name="gender" id="genderF" [(ngModel)]="gender" [value]="true">
                    <label class="form-check-label" for="genderF">Femenino</label>
                </div>
                <div class="form-check form-check-inline ml-2" (click)="gender = true; $event.stopPropagation()">
                    <input [formControl]="form.controls['gender']" class="form-check-input" type="radio" name="gender" id="genderM" [(ngModel)]="gender" [value]="false">
                    <label class="form-check-label" for="genderM">Masculino</label>
                </div>
            </div>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; ID</label>
            <select
                [class.is-invalid]="form.controls['idType'].invalid && form.controls['idType'].touched"
                class="form-control"
                [(ngModel)]="idType"
                formControlName="idType">
                <option [value]="''" disabled selected hidden>Seleccionar</option>
                <option [value]="idType" *ngFor="let idType of idTypes">{{ idType }}</option>
            </select>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Nro de ID</label>
            <ion-input
                [class.is-invalid]="form.controls['idNumber'].invalid && form.controls['idNumber'].touched"
                class="form-control"
                type="tel"
                maxlength="25"
                formControlName="idNumber"
                [(ngModel)]="idNumber"
                (ionChange)="checkNumbersOnlyOnChange($event)">
            </ion-input>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-6 mt-3" [formGroup]="form">
            <label>&#42; Fecha de Expiraci&oacute;n del ID</label>
            <div class="input-group">
                <input readonly
                       [class.is-invalid]="form.controls['idExpirationDate'].invalid && form.controls['idExpirationDate'].touched"
                       (click)="dE.toggle()"
                       (closed)="closeExpirationPicker()"
                       class="form-control"
                       placeholder="yyyy-mm-dd"
                       name="dp"
                       [minDate]="expirationMinDate"
                       [maxDate]="expirationMaxDate"
                       [(ngModel)]="inputControl2"
                       formControlName="idExpirationDate"
                       ngbDatepicker #dE="ngbDatepicker">
                <div class="invalid-tooltip">
                    Campo Requerido
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="dE.toggle()" type="button"></button>
                </div>
            </div>
        </div>

        <div class="form-group col-12 mt-3" [formGroup]="form">
            <label>&#42; Listado de Agencias</label>
            <div class="form-check pl-5" *ngFor="let agency of checkListAgency">
                <input
                    class="form-check-input"
                    type="checkbox"
                    (click)="setCheck(agency.cod_id)"
                    [id]="'checkbox'+agency.cod_id"
                    [value]="agency.cod_id"
                    [checked] = agency.checked>
                <label class="form-check-label" [htmlFor]="'checkbox'+agency.cod_id">
                    <b>{{agency.AGENT_DESCRIPCION}}</b>
                </label>
            </div>
        </div>


        <div class="form-group col-6 mt-3" [formGroup]="form">
            <label>&#42; ¿Realizará una Elebilidad Asistida?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="assistance" id="radioYes" [(ngModel)]="assistance" [value]="true" checked formControlName="assistance">
                <label class="form-check-label" for="radioYes">Si</label>
            </div>
            <div class="form-check form-check-inline ml-2">
                <input class="form-check-input" type="radio" name="assistance" id="radioNo" [(ngModel)]="assistance" [value]="false" formControlName="assistance">
                <label class="form-check-label" for="radioNo">No</label>
            </div>
        </div>


        <div class="form-group col-6 mt-3" [formGroup]="form" *ngIf="assistance">
            <label>&#42; Nro de ID de Representante</label>
            <ion-input
                class="form-control"
                type="tel"
                maxlength="9"
                [(ngModel)]="repID"
                [ngModelOptions]="{standalone: true}"
                (ionChange)="checkNumbersOnlyOnChange($event)">
            </ion-input>
        </div>

        <div class="basicrow m-top-u">
            <div class="optchoice roboto-r text-left" (click)="dependence = !dependence; $event.stopPropagation()">
                <div class="checkdef" [formGroup]="form">
                    <input
                        type="checkbox"
                        name="radioG1"
                        id="radioDepend"
                        class="css-radio"
                        [(ngModel)]="dependence"
                        [formControl]="dependPeopleFlag"/>
                    <label for="radioDepend" class="css-label3 radGroup1"></label>
                </div>

                <div class="basicrow f-med roboto-b">
                    Marca esta casilla si estas calificando a través de tu hijo o un dependiente en tu hogar.
                </div>
            </div>
        </div>

        <div class="basicrow">
            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow text-right m-top-i">
                <button [disabled]="!validateForm() || loading"
                    type="button"
                    class="btn btn-danger btn-claro"
                    (click)="goToSocialSecureVerification()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!loading">Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

    </form>
</div>



