
.stepsvlife {
    width: 775px;
    height: 100px;
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 60;
    font-size: 14px;
    color: #222;
    justify-content: space-between;
}

.stepsvlife .stepautoc {
    width: 87px;
    height: auto;
    float: left;
    font-size: 12px;
    color: #898989;
    z-index: 40;
    margin: 0 22px;
}

.stepsvlife .stepsline {
    position: absolute;
    left: 65px;
    right: 65px;
    margin: auto;
    width: 650px;
    height: 2px;
    bottom: 36px;
    background-color: #ddd;
    z-index: -1;
}
