<div class="stepsvlife">
    <div class="stepautoc"
         [ngClass]="(path === '/universal-service/personal-dates' || path === '/universal-service/usf-verification') ? 'on' : ''">
        Datos Personales

        <div class="stepcirc text-center">
            <div class="circ-in"></div>
        </div>
    </div>

    <div class="stepautoc" [ngClass]="path === '/universal-service/address-date' ? 'on' : ''">
        Datos de Dirección

        <div class="stepcirc">
            <div class="circ-in"></div>
        </div>
    </div>

    <div class="stepautoc" [ngClass]="path === '/universal-service/register-case' ? 'on' : ''">
        Registro de Caso

        <div class="stepcirc">
            <div class="circ-in"></div>
        </div>
    </div>

    <div class="stepautoc" [ngClass]="path === '/universal-service/document-digitalization' ? 'on' : ''">
        Digitalización<br/>
        de Documentos

        <div class="stepcirc">
            <div class="circ-in"></div>
        </div>
    </div>

    <div class="stepautoc" [ngClass]="path === '/universal-service/account-creation' ? 'on' : ''">
        Crear<br/>
        Cuenta/Suscriptor

        <div class="stepcirc">
            <div class="circ-in"></div>
        </div>
    </div>


    <div class="stepautoc" [ngClass]="path === '/universal-service/activation' ? 'on' : ''">
        &nbsp;
        <br/>Activación<br/>

        <div class="stepcirc">
            <div class="circ-in"></div>
        </div>
    </div>

    <div class="stepsline"></div>

</div>
