
<div class="basicrow">
    <div class="basicrow text-center">
        <div class="rdtitles"><span class="roboto-b">Confirmaci&oacute;n</span></div>
    </div>

    <div class="greenmsg m-top-i">
        <i class="fa fa-check-circle staytop" aria-hidden="true"></i>

        <span class="roboto-b">{{ model.CUSTOMER_NAME + ' ' + model.CUSTOMER_LAST }}</span
        ><br /><br />

        Tu solicitud de Servicio Universal se encuentra en proceso de aprobaci&oacute;n bajo el
        <span class="roboto-b">N&uacute;mero de Caso: {{ model.USF_CASE_ID }}.</span><br /><br />

        <span class="roboto-b">Su N&uacute;mero de Cuenta en Claro: {{ model.mBan }}.</span><br /><br />

        <span class="roboto-b">{{ message }} {{ subscriberNumber }}.</span><br /><br />

        De requerir informaci&oacute;n adicional un agente de servicio al cliente estar&aacute; en contacto con
        usted.
    </div>

    <div class="basicrow">
        <div class="basicrow text-center m-top-u">

            <button type="button"
                    class="btn btn-danger btn-claro"
                    (click)="goToHome()">
                <span>Finalizar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </button>
        </div>
    </div>
</div>
