<div class="modal-body">
    <div class="basicrow text-center">
        <img class="bigclarogif" src="../../../../assets/images/claroloadgif.gif" />
    </div>

    <div class="basicrow f-bmed f-black roboto-r">
        <div class="row">
            <div class="basicrow m-top-i text-center w-100 my-3">
                {{ message }}
            </div>
        </div>
    </div>
</div>

