
<!-- [INIT POPUP VERIFICACION DE DIRECCION] -->
<ng-template #validationDataAddressInput let-modal>
    <div class="modal-body">
        <div class="basicrow f-black f-lbig roboto-m">Verificaci&oacute;n de Direcci&oacute;n</div>


        <div class="basicrow f-reg f-black roboto-r">
            <div class="basicrow">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="basicrow roboto-b m-top-i">
                            Direcci&oacute;n {{ model.temporalAddress ? 'Rural' : 'Física' }} Ingresada:
                        </div>

                        <div class="optchoice on roboto-r text-left" *ngIf="!model.temporalAddress || model.postalAddressFlag">
                            <div class="basicrow f-reg roboto-b">
                                {{ model.address }}<br />
                                {{ model.depUnitOther }}<br />
                                {{ convertAccents(model.municipality) }} PR {{ model.postalCode }}
                            </div>
                        </div>

                        <!--CASO 4-->
                        <div class="optchoice on roboto-r text-left" *ngIf="model.temporalAddress && !model.postalAddressFlag">
                            <div class="basicrow f-reg roboto-b">
                                {{ model.temporalAddressExtraContent }} <br />
                                {{ model.address + ' ' + model.depUnitOther }} <br />
                                {{ convertAccents(model.municipality) }} PR {{ model.postalCode }}
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
                        style="display: none;"
                        *ngIf="!model.temporalAddress || model.postalAddressFlag"
                    >
                        <div class="basicrow roboto-b m-top-i" style="margin-top: 50px;"></div>

                        <div class="optchoice roboto-r text-left">
                            <div class="basicrow f-reg roboto-b" *ngIf="!model.temporalAddress">
                                {{ model.address }}<br />
                                {{ model.depUnitOther }}<br />
                                {{ convertAccents(model.municipality) }} PR {{ model.postalCode }}
                            </div>
                            <div class="basicrow f-reg roboto-b" *ngIf="model.temporalAddress">
                                {{ model.temporalAddressExtraContent }} <br />
                                {{ model.address + ' ' + model.depUnitOther }} <br />
                                {{ convertAccents(model.municipality) }} PR {{ model.postalCode }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow m-top">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="basicrow roboto-b m-top-i">Direcci&oacute;n Postal Ingresada:</div>

                        <div class="optchoice roboto-r text-left">

                            <!-- CASO 1 -->
                            <div class="basicrow f-reg roboto-b" *ngIf="!model.temporalAddress && model.postalAddressFlag">
                                {{ model.address }}<br />
                                {{ model.depUnitOther }}<br />
                                {{ convertAccents(model.municipality) }} PR {{ model.postalCode }}
                            </div>

                            <!-- CASO 2 -->
                            <div class="basicrow f-reg roboto-b" *ngIf="!model.temporalAddress && !model.postalAddressFlag">
                                {{ model.postalAddress }}<br />
                                {{ model.postalDepUnitOther }}<br />
                                {{ convertAccents(model.postalMunicipality) }} PR {{ model.postalCode2 }}
                            </div>

                            <!-- CASO 4 -->
                            <div class="basicrow f-reg roboto-b" *ngIf="model.temporalAddress && !model.postalAddressFlag">
                                {{ model.postalAddress }}<br />
                                {{ model.postalDepUnitOther }}<br />
                                {{ convertAccents(model.postalMunicipality) }} PR {{ model.postalCode2 }}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="suggestedAddressValidation.SUGGESTADDRESS !== ''">
                        <div class="basicrow roboto-b m-top-i">Direcci&oacute;n Postal Sugerida:</div>

                        <div class="optchoice roboto-r text-left on">
                            <!-- CASO 2 -->
                            <div class="basicrow f-reg roboto-b">
                                {{ suggestedAddressValidation.SUGGESTADDRESS }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-claro" (click)="modal.close('Save click'); goToRegisterCase()">
            <span>
                Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
        </button>
    </div>
</ng-template>
<!-- [END POPUP VERIFICACION DE DIRECCION] -->

<div class="row mb-5">

    <div class="basicrow f-lbig f-black roboto-m">Dirección Física</div>

    <form class="mt-3 w-100 row">

        <div hidden>
            <div class="form-group col-12 mt-3">
                <label>&#42; &#191;Es una direcci&oacute;n temporal&#63;</label>
                <div class="input-group">
                    <div class="form-check form-check-inline" (click)="model.temporalAddress1 = true; $event.stopPropagation()">
                        <input
                            [formControl]="form.controls['temporalAddress1']"
                            class="form-check-input" type="radio"
                            name="temporalAddress1"
                            id="radioTA1"
                            [(ngModel)]="model.temporalAddress1"
                            [value]="true">
                        <label class="form-check-label" for="radioTA1">Si</label>
                    </div>
                    <div class="form-check form-check-inline" (click)="model.temporalAddress1 = false; $event.stopPropagation()">
                        <input
                            [formControl]="form.controls['temporalAddress1']"
                            class="form-check-input"
                            type="radio"
                            name="temporalAddress1"
                            id="radioTA2"
                            [(ngModel)]="model.temporalAddress1"
                            [value]="false">
                        <label class="form-check-label" for="radioTA2">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-12 mt-3">
                <label>&#42; &#191;Es una direcci&oacute;n rural&#63;</label>
                <div class="input-group">
                    <div class="form-check form-check-inline" (click)="model.temporalAddress = true; $event.stopPropagation()">
                        <input
                            [formControl]="form.controls['temporalAddress']"
                            class="form-check-input" type="radio"
                            name="temporalAddress"
                            id="radioT1"
                            [(ngModel)]="model.temporalAddress"
                            [value]="true">
                        <label class="form-check-label" for="radioT1">Si</label>
                    </div>
                    <div class="form-check form-check-inline" (click)="model.temporalAddress = false; $event.stopPropagation()">
                        <input
                            [formControl]="form.controls['temporalAddress']"
                            class="form-check-input"
                            type="radio"
                            name="temporalAddress"
                            id="radioT2"
                            [(ngModel)]="model.temporalAddress"
                            [value]="false">
                        <label class="form-check-label" for="radioT2">No</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-8" [formGroup]="form">
            <label>&#42; &#191;Cu&aacute;l es la direcci&oacute;n de tu casa&#63;</label>
            <input *ngIf="model.temporalAddress"
                class="form-control"
                type="text"
                maxlength="40"
                placeholder="N&uacute;mero, Nombre de Calle y Apt/Unidad/Otro"
                formControlName="temporalAddressExtraContent"
                [(ngModel)]="model.temporalAddressExtraContent"/>
            <input
                [class.is-invalid]="form.controls['address'].invalid && form.controls['address'].touched"
                class="form-control"
                type="text"
                maxlength="40"
                placeholder="N&uacute;mero, Nombre de Calle y Apt/Unidad/Otro"
                formControlName="address"
                [(ngModel)]="model.address"/>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-4" [formGroup]="form">
            <label>&nbsp;</label>
            <input
                [class.is-invalid]="form.controls['depUnitOther'].invalid && form.controls['depUnitOther'].touched"
                class="form-control"
                type="text"
                maxlength="40"
                placeholder="Urban"
                formControlName="depUnitOther"
                [(ngModel)]="model.depUnitOther"/>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-4" [formGroup]="form">
            <label>&#42; Municipio</label>
            <select
                [class.is-invalid]="form.controls['municipality'].invalid && form.controls['municipality'].touched"
                class="form-control"
                [(ngModel)]="model.municipality"
                name="municipality"
                formControlName="municipality">
                <option [value]="''" disabled selected hidden>Seleccionar</option>
                <option [value]="municipality" *ngFor="let municipality of municipalities">{{municipality}}</option>
            </select>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-4" [formGroup]="form">
            <label>&#42; Estado</label>
            <select
                [class.is-invalid]="form.controls['estate'].invalid && form.controls['estate'].touched"
                class="form-control"
                [(ngModel)]="model.estate"
                name="estate"
                formControlName="estate">
                <option [value]="''" disabled selected hidden>Seleccionar</option>
                <option [value]="estate" *ngFor="let estate of estates">{{ estate }}</option>
            </select>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-4" [formGroup]="form">
            <label>&#42; C&oacute;digo Postal</label>
            <ion-input
                [class.is-invalid]="form.controls['postalCode'].invalid && form.controls['postalCode'].touched"
                class="form-control"
                type="text"
                maxlength="5"
                formControlName="postalCode"
                [(ngModel)]="model.postalCode"
                (ionChange)="checkNumbersOnlyOnChange($event)">
            </ion-input>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; N&uacute;mero de Contacto 1</label>
            <ion-input
                [class.is-invalid]="form.controls['contactNumber1'].value === '' && form.controls['contactNumber1'].touched"
                class="form-control"
                type="text"
                maxlength="12"
                formControlName="contactNumber1"
                [(ngModel)]="model.contactNumber1"
                (keyup)="formatInputContactNumber('contactNumber1')"
                (ionBlur)="blurContactNumber1()"
                (ionChange)="checkNumbersOnlyOnChange($event)">
            </ion-input>
            <div class="invalid-feedback">
                El número de teléfono debe empezar por 787 o 939
            </div>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; N&uacute;mero de Contacto 2</label>
            <ion-input
                [class.is-invalid]="form.controls['contactNumber2'].value === '' && form.controls['contactNumber2'].touched"
                class="form-control"
                type="text"
                maxlength="12"
                formControlName="contactNumber2"
                [(ngModel)]="model.contactNumber2"
                (keyup)="formatInputContactNumber('contactNumber2')"
                (ionBlur)="blurContactNumber2()"
                (ionChange)="checkNumbersOnlyOnChange($event)">
            </ion-input>
            <div class="invalid-feedback">
                El número de teléfono debe empezar por 787 o 939
            </div>
        </div>

        <div class="form-group col-12" [formGroup]="form">
            <label>&#42; Correo Electr&oacute;nico</label>
            <input
                [class.is-invalid]="form.controls['email'].invalid && form.controls['email'].touched"
                class="form-control"
                type="text"
                maxlength="40"
                formControlName="email"
                [(ngModel)]="model.email"/>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-12 mt-3">
            <label>&#42; &#191;Cu&aacute;l es la mejor manera de contactarte&#63;</label>
            <div class="input-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="contactChannel" id="check1" [(ngModel)]="contactChannelEmail" [value]="'1'">
                    <label class="form-check-label" for="check1">Correo Electr&oacute;nico</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="contactChannel" id="check2" [(ngModel)]="contactChannelPhone" [value]="'2'">
                    <label class="form-check-label" for="check2">Tel&eacute;fono</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="contactChannel" id="check3" [(ngModel)]="contactChannelTextMessage" [value]="'3'">
                    <label class="form-check-label" for="check3">Mensaje de texto</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="contactChannel" id="check4" [(ngModel)]="contactChannelMail" [value]="'4'">
                    <label class="form-check-label" for="check4">Correo</label>
                </div>
            </div>
        </div>

        <div class="form-group col-12 mt-3">
            <label>&#42; &#191;La direcci&oacute;n ingresada es la misma a su direcci&oacute;n Postal&#63;</label>
            <div class="input-group">
                <div class="form-check form-check-inline" (click)="model.postalAddressFlag = true; $event.stopPropagation()">
                    <input [formControl]="form.controls['postalAddressFlag']" class="form-check-input" type="radio" name="postalAddressFlag" id="radio1" [(ngModel)]="model.postalAddressFlag" [value]="true">
                    <label class="form-check-label" for="radio1">Si</label>
                </div>
                <div class="form-check form-check-inline" (click)="model.postalAddressFlag = false; $event.stopPropagation()">
                    <input [formControl]="form.controls['postalAddressFlag']" class="form-check-input" type="radio" name="postalAddressFlag" id="radio2" [(ngModel)]="model.postalAddressFlag" [value]="false">
                    <label class="form-check-label" for="radio2">No</label>
                </div>
            </div>
        </div>

        <div class="col-12 mt-1 bg-light p-4" *ngIf="!model.postalAddressFlag && model.postalAddressFlag !== undefined">
            <div class="row">
                <div class="form-group col-8" [formGroup]="form">
                    <label>&#42; &#191;Cu&aacute;l es la direcci&oacute;n postal&#63;</label>
                    <input
                        [class.is-invalid]="form.controls['postalAddress'].invalid && form.controls['postalAddress'].touched"
                        class="form-control"
                        type="text"
                        maxlength="40"
                        placeholder="Carretera, Kilómetro o Hectómetro"
                        formControlName="postalAddress"
                        [(ngModel)]="model.postalAddress"/>
                    <div class="invalid-feedback">
                        Campo Requerido
                    </div>
                </div>

                <div class="form-group col-4" [formGroup]="form">
                    <label>&nbsp;</label>
                    <input
                        [class.is-invalid]="form.controls['postalDepUnitOther'].invalid && form.controls['postalDepUnitOther'].touched"
                        class="form-control"
                        type="text"
                        maxlength="40"
                        placeholder="Urban"
                        formControlName="postalDepUnitOther"
                        [(ngModel)]="model.postalDepUnitOther"/>
                    <div class="invalid-feedback">
                        Campo Requerido
                    </div>
                </div>

                <div class="form-group col-4" [formGroup]="form">
                    <label>&#42; Municipio</label>
                    <select
                        [class.is-invalid]="form.controls['postalMunicipality'].invalid && form.controls['postalMunicipality'].touched"
                        class="form-control"
                        [(ngModel)]="model.postalMunicipality"
                        name="postalMunicipality"
                        formControlName="postalMunicipality">
                        <option [value]="''" disabled selected hidden>Seleccionar</option>
                        <option [value]="municipality" *ngFor="let municipality of municipalities">{{municipality}}</option>
                    </select>
                    <div class="invalid-feedback">
                        Campo Requerido
                    </div>
                </div>

                <div class="form-group col-4" [formGroup]="form">
                    <label>&#42; Estado</label>
                    <select
                        [class.is-invalid]="form.controls['postalEstate'].invalid && form.controls['postalEstate'].touched"
                        class="form-control"
                        [(ngModel)]="model.postalEstate"
                        name="postalEstate"
                        formControlName="postalEstate">
                        <option [value]="''" disabled selected hidden>Seleccionar</option>
                        <option [value]="estate" *ngFor="let estate of estates">{{ estate }}</option>
                    </select>
                    <div class="invalid-feedback">
                        Campo Requerido
                    </div>
                </div>

                <div class="form-group col-4" [formGroup]="form">
                    <label>&#42; C&oacute;digo Postal</label>
                    <ion-input
                        [class.is-invalid]="form.controls['postalCode2'].invalid && form.controls['postalCode2'].touched"
                        class="form-control"
                        type="text"
                        maxlength="5"
                        formControlName="postalCode2"
                        [(ngModel)]="model.postalCode2"
                        (ionChange)="checkNumbersOnlyOnChange($event)">
                    </ion-input>
                </div>
            </div>
        </div>

        <div class="basicrow m-top-u">
            <div class="optchoice roboto-r text-left" (click)="!model.clientOK? model.clientOK = true : model.clientOK = false; $event.stopPropagation();">
                <div class="checkdef">
                    <input
                        type="checkbox"
                        name="radioOk"
                        id="radioOk"
                        class="css-radio"
                        [(ngModel)]="model.clientOK"/>
                    <label for="radioOk" class="css-label3 radGroup1"></label>
                </div>

                <div class="basicrow f-med roboto-b">
                    Marca esta casilla si el cliente otorga concentimiento de aplicación de solicitud.
                </div>
            </div>
        </div>

        <div class="basicrow">
            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow m-top-i w-100">
                <button [disabled]="!(form.valid &&
                        ((model.temporalAddress && model.temporalAddressExtraContent.length > 0) ||
                          !model.temporalAddress) &&
                        validatePostalAddress() &&
                        validateContactChannel() &&
                        ((!model.temporalAddress && model.address.length > 0 && model.contactNumber1.length === 12) ||
                          model.temporalAddress) &&
                        validateContactNumber2() && (model.clientOK)) || loading"
                        type="button"
                        class="btn btn-danger btn-claro float-right"
                        (click)="goToValidationDataAddressInput()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!loading">Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <div *ngIf="someErrorValidation" class="basicrow text-center">
            <div class="shortcont">
                <div class="basicrow">
                    <div class="redbgbadmsg">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

                        El sistema ha detectado que no cumpli&oacute; con la validaci&oacute;n de direcci&oacute;n postal. Su
                        caso fue eliminado.
                    </div>

                    <div class="userinfo full">
                        <div class="basicrow f-black roboto-b f-bmed">Datos</div>

                        <div class="redstat m-top-ii">
                            <div class="autorow roboto-r pull-left">N&uacute;mero de Caso</div>

                            <div class="autorow roboto-b pull-right">{{ validateSSNData.CASE_NUMBER }}</div>
                        </div>

                        <br />
                        <div class="redstat m-top">
                            <div class="autorow roboto-r pull-left">Dirección</div>
                            <div class="autorow roboto-b pull-right">{{ dataReject.inaddr }}</div>
                        </div>

                        <br />
                        <div class="redstat m-top">
                            <div class="autorow roboto-r pull-left">Ciudad</div>
                            <div class="autorow roboto-b pull-right">{{ dataReject.incity }}</div>
                        </div>
                        <div class="redstat m-top">
                            <div class="autorow roboto-r pull-left">Estado</div>
                            <div class="autorow roboto-b pull-right">{{ dataReject.instate }}</div>
                        </div>
                        <div *ngIf="dataReject.inurban !== ''" class="redstat m-top">
                            <div class="autorow roboto-r pull-left">Urban</div>
                            <div class="autorow roboto-b pull-right">{{ dataReject.inurban }}</div>
                        </div>
                        <div class="redstat m-top">
                            <div class="autorow roboto-r pull-left">C&oacute;digo Postal</div>
                            <div class="autorow roboto-b pull-right">{{ dataReject.zip }}</div>
                        </div>
                        <!--
                          <div class="redstat m-top">
                            <div class="autorow roboto-r pull-left">City</div>

                          </div>

                          <div class="redstat m-top-ii">
                            <div class="autorow roboto-r pull-left">SSN</div>

                            <div *ngIf="!validateSSNData.data" class="autorow roboto-b pull-right">
                              &#42;&#42;&#42;&#42;&#42;&#42;{{ validateSSNData.dataObject[0].ssn }}
                            </div>

                            <div *ngIf="validateSSNData.data" class="autorow roboto-b pull-right">
                              &#42;&#42;&#42;&#42;&#42;&#42;{{ validateSSNData.data[0].ssn }}
                            </div>
                          </div>


                          <div class="redstat m-top-ii">
                            <div class="autorow roboto-r pull-left">N&uacute;mero de tel&eacute;fono</div>

                            <div *ngIf="!validateSSNData.data" class="autorow roboto-b pull-right">
                              {{ validateSSNData.dataObject[0].phone1 }}
                            </div>

                            <div *ngIf="validateSSNData.data" class="autorow roboto-b pull-right">
                              {{ validateSSNData.data[0].subscriberNumber }}
                            </div>
                          </div>

                          <div class="redstat m-top-ii">
                            <div class="basicrow roboto-r">Direcci&oacute;n actual del servicio</div>

                            <div *ngIf="!validateSSNData.data" class="basicrow roboto-b m-top-ii">
                              {{ validateSSNData.dataObject[0].address }}
                            </div>

                            <div *ngIf="validateSSNData.data" class="basicrow roboto-b m-top-ii">
                              {{ validateSSNData.data[0].address }}
                            </div>
                          </div>
                        -->
                    </div>

                    <div class="basicrow">
                        <div class="basicrow m-top-i"><div class="logline full"></div></div>

                        <div
                            class="basicrow text-center m-top-i"
                            style="float: left; position: relative; padding-right: 230px; padding-left: 230px; width:600px">
                            <a
                                (click)="goTo('/home')"
                                class="btns red vcenter"
                                data-old-class="btns def-i red pull-right vcenter"
                                style="width: 153px; height: 37px; margin-left: 150px">
                                <span class="tabcell">
                                    Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
