
<div class="row mb-5">

    <div class="basicrow f-lbig f-black roboto-m">Datos del Dependiente</div>

    <form class="mt-3 w-100 row">

        <div class="basicrow f-med f-black roboto-b col-12 mb-3">
            &#191;Cu&aacute;l es el nombre legal completo de tu hijo o dependiente&#63;
        </div>

        <div class="form-group col-4" [formGroup]="form">
            <label>&#42; Sufijo</label>
            <select
                [class.is-invalid]="form.controls['suffix'].invalid && form.controls['suffix'].touched"
                class="form-control"
                [(ngModel)]="model.suffix"
                name="suffix"
                formControlName="suffix">
                <option [value]="''" disabled selected hidden>Seleccionar</option>
                <option [value]="item" *ngFor="let item of suffixes">{{ item }}</option>
            </select>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-12" [formGroup]="form">
            <label>&#42; Nombre</label>
            <ion-input
                [class.is-invalid]="form.controls['firstName'].invalid && form.controls['firstName'].touched"
                class="form-control"
                type="text" maxlength="23"
                formControlName="firstName"
                [(ngModel)]="model.firstName"
                (ionChange)="checkCharactersOnlyOnChange($event)"
                (ionBlur)="checkCharactersOnlyOnBlur($event)">
            </ion-input>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-12" [formGroup]="form">
            <label>Segundo Nombre (Opcional)</label>
            <ion-input
                class="form-control"
                type="text" maxlength="18"
                formControlName="secondName"
                [(ngModel)]="model.secondName"
                (ionChange)="checkCharactersOnlyOnChange($event)"
                (ionBlur)="checkCharactersOnlyOnBlur($event)">
            </ion-input>
        </div>

        <div class="form-group col-12" [formGroup]="form">
            <label>&#42; Apellido</label>
            <ion-input
                [class.is-invalid]="form.controls['lastName'].invalid && form.controls['lastName'].touched"
                class="form-control"
                type="text" maxlength="23"
                formControlName="lastName"
                [(ngModel)]="model.lastName"
                (ionChange)="checkCharactersOnlyOnChange($event)"
                (ionBlur)="checkCharactersOnlyOnBlur($event)">
            </ion-input>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; Fecha de Nacimiento</label>
            <div class="input-group">
                <input readonly
                       [class.is-invalid]="form.controls['birthday'].invalid && form.controls['birthday'].touched"
                       (click)="d.toggle()"
                       (closed)="closeBirthdayPicker()"
                       [minDate]="birthdayMinDate"
                       [maxDate]="birthdayMaxDate"
                       class="form-control"
                       placeholder="yyyy-mm-dd"
                       name="dp"
                       [(ngModel)]="birthday"
                       formControlName="birthday"
                       ngbDatepicker #d="ngbDatepicker">
                <div class="invalid-tooltip">
                    Campo Requerido
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>

        <div class="basicrow f-med f-black roboto-b col-12 my-3">
            &#191;Cu&aacute;l es el n&uacute;mero de Seguro Social (SSN) de tu hijo o dependiente&#63;
        </div>

        <div class="form-group col-6" [formGroup]="form">
            <label>&#42; SSN</label>
            <input
                [class.is-invalid]="form.controls['socialSecure'].invalid && form.controls['socialSecure'].touched"
                class="form-control"
                type="text" maxlength="11"
                formControlName="socialSecure"
                [(ngModel)]="model.socialSecure"
                (keypress)="checkNumbersOnly($event)"
                (keyup)="formatInputSocialSecure('socialSecure')"
                (focus)="onFocusSSN()"
                (blur)="onBlurSSN()"/>
            <div class="invalid-feedback">
                Campo Requerido
            </div>
        </div>

        <div class="basicrow">
            <div class="basicrow m-top-i">
                <div class="logline full"></div>
            </div>

            <div class="basicrow m-top-i w-100">

                <button
                    type="button"
                    class="btn btn-secondary float-left w150px"
                    (click)="back()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Regresar
                </button>

                <button [disabled]="!form.valid || this.model.socialSecure.length !== 11 || loading"
                        type="button"
                        class="btn btn-danger btn-claro float-right"
                        (click)="goToDocumentDigitization()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!loading">Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

    </form>
</div>




