<ng-template #modalProcessValidationApplicationId let-modal>
    <div class="modal-body">
        <div class="basicrow m-top-i text-center" style="font-size: 1.4rem;">
            El n&uacute;mero de aplicaci&oacute;n ingresado no pudo ser validado por el National Verifier por lo que se
            cre&oacute; una nueva elegibilidad para esta solicitud.
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger btn-claro" (click)="modal.close();">
            <span>
                Ok
            </span>
        </button>
    </div>
</ng-template>

<ng-template #modalProcessValidationNLAD let-modal>
    <div class="modal-body">
        <div class="basicrow m-top-i text-center" style="font-size: 1.4rem;">
            El caso se encuentra en proceso de verificaci&oacute;n por el (NV). Consulte su caso
            a trav&eacute;s de la secci&oacute;n de "Consultar Casos" para verificar el estatus de la solicitud.
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger btn-claro" (click)="modal.close(); goToHome();">
            Ok
        </button>
    </div>
</ng-template>

<div class="basicrow">
    <div class="basicrow text-center" *ngIf="!subscriberVerificationObject.HasError">
        <div class="rdtitles"><span class="roboto-b">&#161;Gracias</span> por tu solicitud&#33;</div>
    </div>

    <div class="m-top-i" [ngClass]="{'greenmsg' : !subscriberVerificationObject.HasError, 'redbgbadmsg' : subscriberVerificationObject.HasError}">
        <i class="fa" [ngClass]="{'fa-check-circle' : !subscriberVerificationObject.HasError, 'fa-exclamation-circle' : subscriberVerificationObject.HasError}" aria-hidden="true"></i>
        {{ !subscriberVerificationObject.HasError ? 'Hemos registrado tu Solicitud Servicio Universal con ' : 'Ha ocurrido un error de conexión en la validación de elegibilidad del National Verifier. Su caso fu&eacute; eliminado.'}}

        <span class="roboto-b" *ngIf="!subscriberVerificationObject.HasError">N&uacute;mero de Caso: {{ dataObjectAddress[0].CASE_NUMBER }}</span>
    </div>

    <div class="userinfo full">
        <div class="basicrow f-black roboto-b f-bmed">Resumen de Registro</div>

        <div class="redstat m-top">
            <div class="autorow roboto-r pull-left">Nombre / Apellido</div>

            <div class="autorow roboto-b pull-right">
                {{ dataObjectAddress[0].CUSTOMER_NAME + ' ' + dataObjectAddress[0].CUSTOMER_LASTNAME }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="autorow roboto-r pull-left">SSN</div>

            <div class="autorow roboto-b pull-right">
                &#42;&#42;&#42;&#42;&#42;&#42;{{ getSnn(dataObjectAddress[0].SSN) }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="autorow roboto-r pull-left">Fecha de Nacimiento</div>

            <div class="autorow roboto-b pull-right">
                <!-- 01/01/1991 -->
                {{ getFormatDateCustom(dataObjectAddress[0].DOB) }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="autorow roboto-r pull-left">Numeros de Telefono</div>

            <div class="autorow roboto-b pull-right">
                {{ dataObjectAddress[0].contactNumber1 }}
            </div>
            <br/>
            <div class="autorow roboto-b pull-right">
                {{ dataObjectAddress[0].contactNumber2 }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="basicrow roboto-r">Direcci&oacute;n F&iacute;sica</div>

            <div class="basicrow roboto-b m-top-ii">
                {{ dataObjectAddress[0].CUSTOMER_ADDRESS }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="basicrow roboto-r">Direcci&oacute;n Postal</div>

            <div class="basicrow roboto-b m-top-ii">
                {{ dataObjectAddress[2].SUGGEST_ADDRESS }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="autorow roboto-r pull-left">Nro. de Aplicación</div>

            <div class="autorow roboto-b pull-right">
                {{ subscriberVerificationObject.applicationId }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="autorow roboto-r pull-left">Estatus</div>

            <div class="autorow roboto-b pull-right">
                {{ subscriberVerificationObject.status }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="autorow roboto-r pull-left">Suscriptor Activo</div>

            <div class="autorow roboto-b pull-right">
                {{ subscriberVerificationObject.activeSubscriber === 'N' ? 'NO' : 'SI' }}
            </div>
        </div>

        <div class="redstat m-top-ii">
            <div class="autorow roboto-r pull-left">Posibles Fallas</div>

            <div *ngFor="let fail of subscriberVerificationObject.failures">
                <div class="autorow roboto-b pull-right">
                    {{ fail }}
                </div>
                <br/>
            </div>
        </div>


        <div class="redstat m-top-ii" *ngIf="subscriberVerificationObject._links.resolution.href !== ''">
            <div class="basicrow roboto-r">URL</div>

            <div class="basicrow roboto-b m-top-ii">
                <a [href]="subscriberVerificationObject._links.resolution.href" target="_blank">https://www.usac.org/lifeline/elegibility/national-verifier/</a>
            </div>
        </div>


        <div class="redstat m-top-ii" *ngIf="subscriberVerificationObject._links.resolution.href === '' && subscriberVerificationObject._links.certification.href !== ''">
            <div class="basicrow roboto-r">URL</div>

            <div class="basicrow roboto-b m-top-ii">
                <a [href]="subscriberVerificationObject._links.certification.href" target="_blank">https://www.usac.org/lifeline/elegibility/national-verifier/</a>
            </div>
        </div>

    </div>
    <div class="basicrow">

        <div class="basicrow m-top-i w-100">

            <button
                type="button"
                class="btn btn-secondary float-left w150px"
                (click)="goHome();">
                <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Regresar
            </button>

            <button [disabled]="subscriberVerificationObject.status !== 'COMPLETE'
            || subscriberVerificationObject.activeSubscriber !== 'N'
            || subscriberVerificationObject.HasError"
                    type="button"
                    class="btn btn-danger btn-claro float-right"
                    (click)="goToUsfVerification()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                <span *ngIf="!loading">Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </button>
        </div>

    </div>
</div>
