<form class="form-inline">
    <div class="form-group hidden">
        <div class="input-group">
            <input name="datepicker" style="opacity: 0%"
                   class="form-control"
                   ngbDatepicker
                   #datepicker="ngbDatepicker"
                   [autoClose]="'outside'"
                   (dateSelect)="onDateSelection($event)"
                   [displayMonths]="2"
                   [dayTemplate]="t"
                   [footerTemplate]="footerTemplate"
                   outsideDays="hidden"
                   [value]="toModel()"
                   [startDate]="fromDate!">
            <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
            </ng-template>
            <ng-template #footerTemplate>
                <hr class="my-0">
                <button class="btn btn-primary btn-sm m-2 float-left" [disabled]="toModel() === null" (click)="datepicker.close(); onApply()">Aplicar</button>
                <button class="btn btn-secondary btn-sm m-2 float-left" [disabled]="toModel() === null" (click)="datepicker.close(); onClear()">Limpiar</button>
                <button class="btn btn-secondary btn-sm m-2 float-right" (click)="datepicker.close()">Cerrar</button>
            </ng-template>
        </div>
    </div>
    <div class="form-group mx-2">
        <div class="input-group inner-addon right-addon">
            <select class="form-control select-datapicket" (click)="datepicker.toggle()">
                <option hidden selected>{{toModel()}}</option>
            </select>
        </div>
    </div>
</form>
