
<ion-content #content fullscreen>

    <app-header></app-header>

    <ion-list class="container">

        <div class="row">
            <div class="col">
                <div class="fulltitle f-btitle mb-3 mt-3 text-center">
                    <span class="fa fa-laptop"></span> Servicio Universal / {{request}}
                </div>
            </div>
        </div>

        <div class="mt-3">
            <div class="col text-center">
                <app-steplife></app-steplife>
            </div>
        </div>

        <div class="row justify-content-center mb-5 mt-4">
            <div class="container-steps">
                <router-outlet></router-outlet>
            </div>
        </div>

    </ion-list>

</ion-content>
