.myButtonAlert {
    height: 37px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    float: left;
    color: #ffffff !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #ef3829 !important;
    display: table !important;
    touch-action: manipulation;
    cursor: pointer;
    margin-bottom: 10 px !important;

}
